body {
    text-align: center;
    background-color: #011F3F;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
}

.row {
    display: flex;
}

.btn {
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.game-over {
    background-color: red;
}
